#Ignoring the output files
*.out
*/*.out

#Ignore comparison files
*.cmp
*/*.cmp

#Ignore binary files outputs..etc
*.hack
*/*.hack

#Ignoring test files
*.tst
*/*.tst

#Ignoring the asm files
*/*.asm
08/*/*/*.asm
#Ignoring the vm files.
*/*.vm
08/*/*/*.vm

#Igonring the special simulator folder
sim

#Random files that should be ignored
../tools/bin/Hardware Simulator.dat
../tools/CPUEmulator.sh
